numpy==1.26.4
scipy==1.13.1
pandas==2.2.2
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2
matplotlib==3.9.0
pypdf==4.2.0
sentence-transformers==3.0.1
transformers==4.46.3
tokenizers==0.20.3
huggingface-hub==0.36.2
chromadb==0.5.23
accelerate==1.13.0
bert-score==0.3.13
ragas==0.4.3
openai==1.30.5
datasets==2.19.2
langchain-community
langchain-huggingface
nest-asyncio
sentencepiece
